[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bpc-utils = {editable = true, path = ".", extras = ["lint", "test", "docs"]}
autopep8 = "*"
bandit = "*"
mypy = "*"
pylint = "*"
ipython = "*"
coverage = "*"
codecov = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinxext-opengraph = "*"
sphinx-copybutton = "*"
rstcheck = {extras = ["sphinx","toml"],version = "*"}
esbonio = "*"
vermin = "*"
build = "*"
twine = "*"

[requires]
python_version = "3"
