# pyup: ignore file
.
pytest>=4.5.0
coverage
codecov
flake8;python_version>="3.5"
pylint;python_version>="3.5"
mypy;python_version>="3.5"
bandit;python_version>="3.5"
vermin>=0.10.3;python_version>="3.5"
